.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

img {
  min-width: 200px;
  height: 200px;
  margin: 20px;
}

@media screen and (max-width: 200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
